@model NetAtlas_The_True_Project.Models.Membre
@{
    ViewData["Title"] = "Espace NetAtlas"+@Html.DisplayFor(m=>m.UserName);
    Layout = "~/Views/Shared/_LayoutMembre.cshtml";
    ViewBag.UserNameRecup = @ViewBag.UserNameRecup;
}
<div class="wrapper">
    <div class="page-header">
      <div class="page-header-image"></div>
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
              <div id="square7" class="square square-7"></div>
              <div id="square8" class="square square-8"></div>
              <div class="card card-register">
                <div class="card-header">
                  <img class="card-img" src="../assets/img/square1.png" alt="Card image">
                  <h4 class="card-title text-default">Bienvenue</h4>
                </div>
                <div class="card-body">
                  
                    </div>
                    <div class="card-footer">
                  <h4 class="card-title text-info">Page de salutation :)</h4>
                </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="register-bg"></div>
          <div id="square1" class="square square-1"></div>
          <div id="square2" class="square square-2"></div>
          <div id="square3" class="square square-3"></div>
          <div id="square4" class="square square-4"></div>
          <div id="square5" class="square square-5"></div>
          <div id="square6" class="square square-6"></div>
        </div>
      </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            <h4>&copy; 2022 - NetAtlas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></h4>
        </div>
    </footer>